{{>head}}

<body>

    <header>
        <a href="#" class="logo">AidFirstLogo</a>
        <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/login">Login/SignUp</a></li>
            {{!-- <li><a href="#">Town hall</a></li>
            <li><a href="#">Troops</a></li>
            <li><a href="#">Contact</a></li> --}}
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="kontent">
        <div class="kontent-text">
            <h4>Lead Supercell</h4>
            <h1>AidFirst</h1>
            <p>Join millions of players worlwide as you build your village, <br> raise a clan, and compete in epic Clan
                Wars!!</p>
            <a href="/login" id="chatbotBtn">ChatBot</a>
            <a href="/login" class="ctaa"><i class="ri-play-fill"></i>Consult our doctors</a>
        </div>
        <div class="kontent-img">

        </div>
        {{!-- <div class="chatbot">
            <a href="#"><i class="ri-chat-voice-line"></i></a>
        </div>
        <div class="chatbox">
        </div> --}}
            {{!-- {{>chatbot}} --}}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/chatbot.js"></script>
    <script src="js/response.js"></script>
</body>

</html>
