<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="register-box">
        <h2>Sign Up</h2>
        <form>
            <div class="user-box">
                <input type="text" name="first_name" required="">
                <label>First Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="last_name" required="">
                <label>Last Name</label>
            </div>
            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="tel" name="phone" required="">
                <label>Phone Number</label>
            </div>
            <div class="user-box">
                <input type="text" name="age" required="" placeholder="">
                <label>Age</label>
            </div>

            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" name="confirm_password" required="">
                <label>Confirm Password</label>
            </div>
            <button type="submit" id="registerBtn">Register</button>
        </form>
    </div>

    <script src="js/main.js"></script>
</body>

</html>