{{>head}}

<body>

    {{>navbar}}

    <section class="kontent">
        <div class="kontent-text">
            <h4>Lead Supercell</h4>
            <h1>AidFirst</h1>
            <p>Join millions of players worlwide as you build your village, <br> raise a clan, and compete in epic Clan
                Wars!!</p>
            <a href="#" id="chatbotBtn">ChatBot</a>
            <a href="/consult" class="ctaa"><i class="ri-play-fill"></i>Consult our doctors</a>
        </div>
        <div class="kontent-img">

        </div>
        {{!-- <div class="chatbot">
            <a href="#"><i class="ri-chat-voice-line"></i></a>
        </div>
        <div class="chatbox">
        </div> --}}
            {{>chatbot}}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/chatbot.js"></script>
    <script src="js/response.js"></script>
</body>

</html>